extends layout

block variables
	- var active = 'home'

block content

	.loading-book.ks-beforeload
		img(src="/img/isobook.png")
		h4 Loading...
	.container.ks-afterload
		.row(ng-controller='NotesCtrl')
			.col.col-sm-6#notes(ng-init="init()", style="position: static;overflow: hidden")
				.uikit.uikit-book(ng-click="create()")
				.uikit.uikit-note(
					ng-repeat="note in (notes | orderBy: 'timestamp':true)"
					class="{{getColorClass(note.color)}}"
				)
					input.uikit-note-content(
						focus="{{note.id == selectedNote.id}}"
						ng-model="note.text"
						ng-click="setSelectedNote(note)"
						ng-blur="setSelectedNote(null)"
						ng-show="note.id == selectedNote.id"
					)
					.uikit-note-formattedContent(
						ng-hide="note.id == selectedNote.id"
						ng-click="setSelectedNote(note)"
					) 
						span(ng-bind-html="format(note.text)")
				#ads
			.col.col-sm-6
				.page-header
					h1 Miscellarious.com
					h3 Room: {{roomSlug}}
				h4 
					a(ng-click="toggleInstructions()") Tips and Tricks 
						span.glyphicon.glyphicon-chevron-down(ng-hide="instructions")
						span.glyphicon.glyphicon-chevron-up(ng-show="instructions")
				div(ng-show="instructions", ng-init="instructions=false")
					.page-header
						h5 How to 
					p To create a note, click the book.
					p Click/Tap to type note.
					p You can't delete and anyone can edit anything. Have fun and use shortcodes.
					.page-header
						h5 Shortcodes
					p Type the following to generate different content
					ul.list-unstyled.list_monospace
						li img:troll
						li img:pokerface
						li img:leanback
						li img:foreveralone
						li img:ruserious
						li img:closeenough
						li img:yuno
						li img:okay
						li img:allthethings
						li img:dontevencare
						li img:jackiechan
				h4
					a(ng-click="toggleRR()") Popular Rooms 
						span.glyphicon.glyphicon-chevron-down(ng-hide="recentR")
						span.glyphicon.glyphicon-chevron-up(ng-show="recentR")
				div(ng-show="recentR", ng-init="recentR=true")
					ul.list-unstyled.list_monospace
						li(ng-repeat="room in recentRooms")
							a(href="#/{{room.name}}") {{room.name}}
						li
							a(href="#/stuff") stuff
						li
							a(href="#/art") art
						li
							a(href="#/obama") obama
						li
							a(href="#/apple") apple
						li
							a(href="#/war") war